<h1>Header 1</h1>
<p>Default paragraph</p>
<h2>Header 2</h2>
<p>Default paragraph</p>
<h3>Header 3</h3>
<p>Default paragraph</p>
<h4>Header 4</h4>
<p>Default paragraph</p>

<p>Default paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla malesuada, magna sed venenatis gravida, sem libero dignissim eros, nec volutpat sapien tortor ut ligula. In hac habitasse platea dictumst.</p>

<input type="text" name="" id="" value="" />

<input type="submit" name="" id="" value="Submit Article" />

<article>
  <cite><a href="#">Title of Article</a></cite>
  <div class="author">Ryan Mathews (5 comments)</div>
  <div class="comment">
    <p>Description / comment about the article. Usually pretty short, but could wrap lines.</p>
    <span>Ryan Mathews</span>
  </div>
</article>

<h2>Comments</h2>

<div class="comments">
  <div class="comment">
    <p>Description / comment about the article. Usually pretty short, but could wrap lines.</p>
    <span>Ryan Mathews</span>
  </div>
  <div class="comment">
    <p>Description / comment about the article. Usually pretty short, but could wrap lines.</p>
    <span>Ryan Mathews</span>
  </div>
  <div class="comment">
    <p>Description / comment about the article. Usually pretty short, but could wrap lines.</p>
    <span>Ryan Mathews</span>
  </div> 
</div>
