@import "bourbon";
@import "normalize";

$text-color: lighten(black, 10%);
$standard-spacing: 20px;
$text-light: lighten(black, 15%);

$title-color: $text-color;
$bg-color: white;
$link-color: #003c46;
$bg-secondary-color: darken($bg-color, 10%);

@import "mixins";
@import "base";
@import "modules";
@import "layout";
@import "theme";
